<% if @product.assemblies_parts.any? %>
  <div class="columns col-lg-12">
    <h6><%= Spree.t(:parts_included) %></h6>

    <% @product.variants_or_master.each do |variant| %>
      <ul id="products" class="inline product-listing list-unstyled assemblies_variant assemblies_for_variant_<%= variant.id %>" data-hook style='display:none;'>
        <% if variant.reference_part_variant.present? %>
          <%= render partial: 'spree/shared/part_variant_info', locals: { part_variant: nil, part: variant.reference_part_variant } %>
        <% end %>
        <% variant.parts_variants.includes(:part).each do |part_variant| %>
          <%- part = part_variant.part %>
          <li id="product_<%= part.product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
            <%= render partial: 'spree/shared/part_variant_info', locals: { part_variant: part_variant, part: part } %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
